html {
    background-color:black;
}

#map {
    height: 400px;
    width: 80%;
}

.banner {
  width: 60%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 20px;
  padding: 5px;
  border: 3px solid rgba(255,255,255,1);
  font: normal 16px/1 "Times New Roman", Times, serif;
  color: white;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #34495e;
  text-align: center;

}

.input {
  width:30%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 20px;
  padding: 5px;
  border: 3px solid rgba(255,255,255,1);
  font: normal 16px/1 "Times New Roman", Times, serif;
  color: white;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #34495e;

}

.maps {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 20px;
  padding: 5px;
  border: 3px solid rgba(255,255,255,1);
  font: normal 16px/1 "Times New Roman", Times, serif;
  color: white;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #34495e;
}
.busing {
   -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 20px;
  padding: 5px;
  border: 3px solid rgba(255,255,255,1);
  font: normal 16px/1 "Times New Roman", Times, serif;
  color: white;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #34495e;
}

.weather {
    -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 20px;
  padding: 5px;
  border: 3px solid rgba(255,255,255,1);
  font: normal 16px/1 "Times New Roman", Times, serif;
  color: white;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #34495e;
}
h1 {
    color:white;
}